<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${msg}" th:fragment="msg" ></span>
<div th:each="user:${userList}" >
    <span th:text="${user.name}"></span>
    <span th:text="${user.age}"></span>
</div>
</body>
<script type="text/javascript" src="jquery.js"></script>
<script th:inline="javascript">
    $(function () {
        var userlists=[[${userList}]]
        for (var i=0;i<userlists.length;i++){
            if(userlists[i].age==5){
                console.log(userlists[i].name)
            }
        }
        console.log(userlists.length);
    })
</script>
</html>